<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/static/img/favicons/portfolio.ico" />
    <link rel="stylesheet" href="/static/css/portfolio.css" />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      crossorigin="anonymous"
    />
    <title>Portfolio</title>
  </head>

  <body class="portfolio-frame"></body>
  <div class="container">
    <div class="left_section">
      <div class="profile">
        <div class="img">
          <img src="/static/img/icon/profile.svg" alt="Profile Image" />
        </div>
        <div class="name">{{ author.name }}</div>
        <div class="profession">{{ author.profession }}</div>
        <div class="sns">
         <div class="box"> <img src="/static/img/icon/sns-facebook.svg" class="icon" alt="Twitter"></div>
          <div class="box"> <img src="/static/img/icon/sns-instagram.svg"  class="icon" alt="LinkedIn"></div>
          <div class="box"> <img src="/static/img/icon/sns-twitter.svg" class="icon" alt="GitHub"></div>
          <div class="box"> <img src="/static/img/icon/sns-linkedin.svg" class="icon" alt="Instagram"></div>
          <div class="box"> <img src="/static/img/icon/sns-youtube.svg" class="icon" alt="Facebook"></div>
          
        </div>
      </div>
      
      <div class="detail">
        <div class="inf">
          <div>Age:</div>
          <div>Residence</div>
          <div>Freelance</div>
          <div>Address</div>
        </div>
        <div class="inf2">
          <div>{{ author.age }}</div>
          <div>{{ author.residence }}</div>
          <div>Available</div>
          <div>{{ author.adress }}</div>
        </div>
      </div>
      <div class="marginer"></div>
      <div class="languages">

    <h3>Languages</h3>

    <div class="lang_box">
        <div class="lang_text">
            <label>English</label>
            <span>90%</span>
        </div>
        <progress value="90" max="100"></progress>
    </div>

    <div class="lang_box">
        <div class="lang_text">
            <label>Korean</label>
            <span>70%</span>
        </div>
        <progress value="70" max="100"></progress>
    </div>

    <div class="lang_box">
        <div class="lang_text">
            <label>Uzbek</label>
            <span>100%</span>
        </div>
        <progress value="100" max="100"></progress>
    </div>

</div>
      <div class="marginer"></div>
      <div class="skills">

    <h3>Skills</h3>

    <div class="skill_box">
        <div class="skill_text">
            <label>HTML</label>
            <span>80%</span>
        </div>
        <progress value="80" max="100"></progress>
    </div>

    <div class="skill_box">
        <div class="skill_text">
            <label>CSS</label>
            <span>90%</span>
        </div>
        <progress value="90" max="100"></progress>
    </div>

    <div class="skill_box">
        <div class="skill_text">
            <label>JS</label>
            <span>90%</span>
        </div>
        <progress value="90" max="100"></progress>
    </div>

    <div class="skill_box">
        <div class="skill_text">
            <label>PHP</label>
            <span>85%</span>
        </div>
        <progress value="85" max="100"></progress>
    </div>

    <div class="skill_box">
        <div class="skill_text">
            <label>WordPress</label>
            <span>90%</span>
        </div>
        <progress value="90" max="100"></progress>
    </div>

</div>
      <div class="marginer"></div>
      <div class="extra-skills">
        <h4>Extra Skills</h4>
        <div class="extra-inf"><img src="/static/img/icon/menu-square.svg" alt=""> Bootstrap , Materialize</div>
        <div class="extra-inf"><img src="/static/img/icon/menu-square.svg" alt=""> Styling, Sass</div>
        <div class="extra-inf"><img src="/static/img/icon/menu-square.svg" alt=""> Django, Flask</div>
        <div class="extra-inf"><img src="/static/img/icon/menu-square.svg" alt=""> GIT Knowledge</div>
      </div>
    </div>


    <div class="middle_section">
      <div class="highlight">
        <div class="mid1">
        <h1 class="midtext1">Software Engineer In IT Company</h1>
        <span class="midtext2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae culpa nobis ut fuga iure facilis tempora cumque porro quas veritatis impedit modi et praesentium perspiciatis quibusdam voluptatum, dolorum ex quidem.</span><br>
        
        <button class="midbut">HIRE ME</button>
        </div>
        <img class="midimg" src="/static/img/icon/person.svg" alt="">
      </div>
      
  
    <div class="services">
      <div class="list">
        <h2>My services</h2>
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. A officia saepe animi esse reprehenderit sint atque doloremque cupiditate numquam earum error temporibus, deleniti ipsum? Sequi hic molestias eius cupiditate perferendis!</span>
      </div>

    <div class="services-information">
    <div class="services-i" >
      <div> 
      <img src="/static/img/icon/field-web.svg" alt="">
      <h4>Web Development</h4>
      <span>Blog, E-Commerce</span>
      </div>
      <div>
        <img src="/static/img/icon/field-design.svg" alt="">
        <h4>Mobile App Design</h4>
        <span>Character Design , Props & Objects</span>
      </div>
    </div>
    <div>
      <div>
        <img src="/static/img/icon/field-game.svg" alt="">
        <h4>UI/UX Design</h4>
        <span>Mobile Apps, Web Applications</span>
      </div>
      <div>
        <img src="/static/img/icon/field-photo.svg" alt="">
        <h4>Photography</h4>
        <span>Portrait, Product Photography</span>
      </div>
    </div>
    <div>
      <div>
        <img src="/static/img/icon/field-sound.svg" alt="">
        <h4>Audio Editing</h4>
        <span>Sound Design, Mixing</span>
      </div>
      <div>
        <h4>Advertising</h4>
        <span>Adipisicing elit. Qui, dolore eius. Ullam voluptatem obcaecati molestias fugit, voluptatibus sed quisquam esse sit ex saepe, doloremque, repellat amet dolorum praesentium rem dolore.</span><br>
        <span class="order">ORDER NOW</span>
      </div>
      </div>
    </div>  

    </div>
  </div>
    
   

<div class="right-section">

    <div class="dark-mode">
        <img class="mode-icon"src="/static/img/icon/menu-dark.svg"alt="">
    </div>

    <div class="menu">

        <a href="/" class="menu-icon">
            <span class="tooltip">project</span>
            <img src="/static/img/icon/menu-home.svg" alt="">
        </a>

        <div class="menu-icon">
            <span class="tooltip">coding</span>
            <img src="/static/img/icon/menu-code.svg" alt="">
        </div>

        <div class="menu-icon">
            <span class="tooltip">degree</span>
            <img src="/static/img/icon/menu-degree.svg" alt="">
        </div>

        <div class="menu-icon">
            <span class="tooltip">work</span>
            <img src="/static/img/icon/menu-work.svg" alt="">
        </div>

        <div class="menu-icon">
            <span class="tooltip">chat</span>
            <img src="/static/img/icon/menu-chat.svg" alt="">
        </div>

    </div>

</div>
  </div>
 
</html>
